
.category {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    border-radius: 15px;
    margin: 0 7.5px 15px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
        overflow: hidden;

        & .background-img {
            transform: scale(1.1);

            transition: transform 1.5s cubic-bezier(0.25, 0.45, 0.45, 0.95);
        }

        & .category__body{
            opacity: .9;
        }
    }

    &__body {
        height: 90px;
        padding: 0 25px;
        border: 1px solid #000;
        border-radius: 15px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        opacity: .7;
        position: absolute;

        h2 {
            font-weight: bold;
            margin: 0 6px 0;
            font-size: 22px;
            color: #4a4a4a;
        }

        p {
            font-weight: lighter;
            font-size: 16px;
        }
    }

    .background-img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
    }
}
